[Unit]
Description=fbcp-ili9341 SPI LCD framebuffer copy
After=local-fs.target systemd-modules-load.service
Wants=systemd-modules-load.service
Conflicts=fbcp-early.service

[Service]
Type=simple
ExecStart=/usr/local/bin/fbcp-ili9341 -x 200 -y 120 -w 240 -h 240 -noscaling
Restart=always
RestartSec=1
StartLimitIntervalSec=0
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
